@charset "UTF-8";
@import "./sizes.scss";

body {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #000;
  margin: 0;
  letter-spacing: 1.8px;
  transform: perspective(1000px);

  @include smMin {
    letter-spacing: 2.1px;
    font-size: 14px;
  }
}

h2,
p {
  margin: 0;
}

.main__wrapper {
  overflow: hidden;
}

main {
  width: 320px;
  margin: 0 auto;
  padding-bottom: 30px;
  @include smMin {
    width: 680px;
    padding-bottom: 36px;
  }
  @include mdMin {
    width: 956px;
  }
}

.main__bottom {
  @include smMin {
    display: flex;
  }
}

header {
  position: relative;
  z-index: 1;
  padding: 15px 9px;
  @include smMin {
    padding: 31px 9px;
  }

  &:after {
    content: "";
    display: inline-block;
    width: 44px;
    height: 1px;
    background: #979797;
    position: absolute;
    top: 15px;
    right: 5px;
    @include smMin {
      width: 98px;
      top: 30px;
      right: -81px;
    }
    @include mdMin {
      right: 2px;
    }
  }
}

.header__logo {
  width: 133px;
  height: 59px;
  background: url("./images/logo.png") no-repeat;
  background-size: 100% 100%;
  @include smMin {
    background: url("./images/logo-big.png") no-repeat;
    background-size: 100% 100%;
  }

  @include smMin {
    width: 160px;
    height: 72px;
  }
}

.section__circles {
  position: relative;
  padding: 29px 31px;
  transform: translateY(-100px);
  opacity: 0;
  @include smMin {
    padding: 55px 0 55px 323px;
  }
  @include mdMin {
    padding-left: 562px;
  }
}

.title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  letter-spacing: 2.6px;
  font-size: 24px;

  @include smMin {
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: 5.1px;
  }
}
.desc {
  line-height: 1.35;
  margin-top: 14px;
  cursor: pointer;
  @include smMin {
    line-height: 1.57;
    margin-top: 34px;
  }

  &:hover {
    .desc__arrow {
      right: -10px;
    }
  }
}

.desc__arrow {
  display: inline-block;
  background: url("./images/arrow.svg") no-repeat;
  background-size: 100% 100%;
  width: 68px;
  height: 11px;
  margin-left: 8px;
  position: relative;
  top: 2px;
  transition: 0.3s ease;
  right: 0;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(359deg);
  }
}

.circle {
  border-radius: 50%;
  position: absolute;
  &.circle--big {
    width: 164px;
    height: 164px;
    top: -44px;
    right: 5px;
    z-index: -1;
    transform-origin: center center;
    transform-style: preserve-3d;
    transform: translateZ(0px);
    overflow: hidden;
    @include smMin {
      width: 391px;
      height: 391px;
      top: -81px;
      right: 239px;
    }
    @include mdMin {
      right: 481px;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      animation: rotate 30s linear infinite;
      background: radial-gradient(circle at 0 0, #3023ae, #30efdc 47%, #8698c6 73%, #c86dd7);
    }
  }

  &.circle--medium,
  &.circle--small {
    display: none;
    background: radial-gradient(circle at 77% 31%, #5045b8, #343caf 4%, #00ffe5 74%, #8698c6 85%, #c86dd7);
  }
  &.circle--medium {
    @include smMin {
      display: block;
      width: 244px;
      height: 244px;
      z-index: -1;
      top: -105px;
      right: 116px;
    }
    @include mdMin {
      top: 66px;
      right: 314px;
    }
  }
  &.circle--small {
    @include smMin {
      display: block;
      width: 107px;
      height: 107px;
      top: -67px;
      right: 45px;
    }
    @include mdMin {
      top: -44px;
      right: 36px;
    }
  }
}

.section__price {
  margin-top: 16px;
  padding: 0 31px;
  width: 170px;
  position: relative;
  transform: translateY(-100px);
  opacity: 0;
  @include smMin {
    margin-top: 138px;
    padding: 0 71px;
    width: 200px;
  }
  @include mdMin {
    padding-left: 83px;
  }
}

.ticket__price {
  margin-top: 16px;
  margin-bottom: 5px;
  @include smMin {
    margin-top: 45px;
  }
}

.ticket__price-all {
  font-weight: 700;
}

.section__form {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  transform: translateY(-100px);
  opacity: 0;
  @include smMin {
    display: block;
    margin-top: 183px;
    margin-left: 57px;
    position: relative;
  }
  @include mdMin {
    margin-top: 159px;
    margin-left: 141px;
  }
}

form {
  box-sizing: border-box;
  padding-left: 28px;
  margin-right: -30px;
  width: 292px;
  height: 207px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include smMin {
    margin-right: 0;
    padding-left: 65px;
    width: 422px;
    height: 238px;
  }
  @include mdMin {
    padding-left: 81px;
    width: 507px;
    height: 263px;
    background-color: #ececec;
  }

  &.error {
    .error__wrapper {
      font-size: 12px;
      display: block;
    }
  }

  &.success {
    .step__form {
      display: none;
    }
    .step__success {
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      display: block;
      animation: fadeIn 1s ease forwards;
    }
  }
}

.error__wrapper {
  display: none;
  color: red;
  margin-bottom: 13px;
}

.step__form,
.step__success {
  width: 201px;
  @include smMin {
    width: 183px;
  }
  @include mdMin {
    width: 230px;
  }
}

.step__success {
  display: none;
  font-size: 26px;
  font-weight: 700;
  @include smMin {
    width: 200px;
  }
}

.input__wrapper {
  position: relative;
  display: inline-flex;
  height: 33px;
  margin-bottom: 13px;
  width: 100%;
  @include smMin {
    height: 33px;
  }
  &:focus {
    outline: none;
  }
}

input {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  line-height: 1.57;
  outline: none;
  letter-spacing: 2.1px;
  font-size: 14px;
  box-sizing: border-box;
  border: solid 1px #979797;
  font-weight: 300;
  &:focus {
    outline: none;
    ~ .focus-border {
      &:before,
      &:after {
        width: 100%;
        transition: 0.3s;
      }
      i {
        &:before,
        &:after {
          height: 100%;
          transition: 0.4s;
        }
      }
    }
  }
}

.focus-border {
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #3399ff;
    transition: 0.3s;
  }
  &:after {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
  }
  i {
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 0;
      background-color: #3399ff;
      transition: 0.4s;
    }
    &:after {
      left: auto;
      right: 0;
      top: auto;
      bottom: 0;
    }
  }
}

.form__button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #0bc0ce;
  height: 33px;
  font-size: 14px;
  border: none;
  font-weight: bold;
  line-height: 1.57;
  letter-spacing: 2.1px;
  text-align: center;
  color: #fff;
  width: 127px;
  margin-left: 75px;
  transition: 0.3s ease background-color;
  cursor: pointer;
  @include smMin {
    width: 115px;
    margin-left: 68px;
  }
  @include mdMin {
    width: 115px;
    margin-left: 115px;
  }

  &:hover,
  &:focus {
    outline: none;
    .hover-bg {
      &:before {
        transition: 0.3s;
        width: 50%;
        height: 100%;
      }
      &:after {
        transition: 0.3s;
        width: 50%;
        height: 100%;
      }
    }
    .form__button-cards svg g {
      stroke: #fff;
    }
  }
}

.hover-bg {
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    background-color: #5045b8;
    transition: 0.3s;
    z-index: 0;
  }
  &:after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
  }
}

.form__button-text {
  z-index: 1;
}

.form__button-cards {
  z-index: 1;
  background-size: 100% 100%;
  width: 26px;
  height: 21px;
  display: inline-block;
  margin-left: 12px;
  @include smMin {
    margin-left: 6px;
  }
  svg g {
    transition: 0.3s ease stroke;
  }
}

.cloud {
  display: none;
  @include smMin {
    display: inline-block;
    width: 37px;
    height: 22px;
    background: url("./images/cloud.svg") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: 0;
    left: 71px;
  }
  @include mdMin {
    left: 83px;
  }
}
